<p>struktura-form works!</p>

<div class=" flex justify-content-center">
    <p-tree class="w-full md:w-10rem" [value]="dataTree" [draggableNodes]="true" [droppableNodes]="true"
        draggableScope="self" droppableScope="self" (onNodeDrop)="onNodeDrop($event)">

        <ng-template let-node pTemplate="default">
            <span *ngIf="!node.isEditing">{{ node.label }}</span>
            <input pInputText  *ngIf="node.isEditing" type="text" [(ngModel)]="node.label" (blur)="stopEditing(node)"
                (keydown.enter)="stopEditing(node)" />
             <span *ngIf="czyLeaf(node)"> {{node.liczba_dzieci}}</span>
             <span *ngIf="czyLeaf(node)==false"> Samotny</span> 

            <p-button icon="pi pi-file-edit" [rounded]="true" [text]="true" severity="secondary "  *ngIf="!node.isEditing" (click)="editNode(node)"></p-button>
            <button *ngIf="czyLeaf(node)==false" (click)="editNode(node)">Kasuj</button>
        </ng-template>

    </p-tree>
</div>