/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

.md-4{margin-bottom: 40px;}

html{
    font-size: 10px;
}

.p-panel-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0.5rem;
}

.p-panel .p-panel-content {
     padding: 0.25rem;
}

.m-panel100{
    width: 100%;
}

.p-tree {
     border: 0px solid #dee2e6; 
     padding: 0.25rem;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content {

    padding: 0.00001rem;
}

.p-checkbox .p-checkbox-box .p-icon {
    width: 1rem;
    height: 1rem;
}

.p-checkbox .p-checkbox-box {
 
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
  
   
}


.p-button {


    border: 1px solid #3B82F6;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

.p-datatable .p-datatable-tbody > tr > td {
   
    padding: .05rem 0.5rem;
}